{% extends 'base.html' %}

{% block title%} {{current_user.first_name}} {% endblock %}

{% block content %}

<section class="flash-msg">

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">{{msg}}</p>
    {% endfor %}

</section> 

<h1 class="h1-title">Hi, {{current_user.first_name}}!</h1>

<div id="user-info-div">
    <h2 >Your Information</h2>


    <h3>

        <b>
            Name: <i>{{current_user.first_name}} {{current_user.last_name}}</i><br>
            Username: <i>{{current_user.username}}</i><br>
            Email: <i>{{current_user.email}}</i><br>
            <a class ="edit-link" href="/{{current_user.username}}/edit">Edit</a>


        </b>

    </h3>
</div>

<div>
    <form id="survey-button" method="POST" action="/survey"><button>Take the Survey!</button></form>
</div>

<div>
    <form id="logout-button" method="POST" action="/logout"><button>Logout</button></form>
</div>

<div>
    <form id="delete-user-button" method="POST" action="/users/{{current_user.username}}/delete">
        <button>Delete Account</button>
    </form>
</div>


{% endblock %}